# dependencies
node_modules

# build outputs
dist
dist-electron
release
out

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env
.env.local
.env.*.local

# macOS
.DS_Store

# editor
.vscode/*
!.vscode/extensions.json
.idea

# electron-builder
*.dmg
*.zip
*.blockmap